h1 {
    text-align: center;
    font-family: Helvetica;
}

h2 {
    text-align: center;
    background-color: lightcoral;
    padding: 10px;
    margin: 0;
    border: 1rem;
    border-color: black;
    font-family: Helvetica;
}

ul, li {
    text-align: center;
    background-color: lightpink;
    padding: 10px;
    margin: 0;
    font-family: Helvetica;
}

p {
    text-align: center;
    background-color: lightpink;
    padding: 10px;
    margin: 0;
    font-family: Helvetica;
}

nav {
    text-align: center;
}

table {
    margin: auto;
    border-spacing: 1px
}

table, th, td {
    border: 1px solid black
}

th, td {
    padding: 1rem;
}

td {
    background-color: coral;
    color: black;
}

#table-footer {
    background-color: coral;
    color: black;
}