h1 {
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px;
    margin: 0;
    border: 1rem;
    border-color: black;
    color: white;
    font-family: Helvetica;
    text-align: center;
    font-family: 'East Sea Dokdo';
    font-size: 50pt;
}

a {
    font-family: 'East Sea Dokdo';
    font-size: 25pt;
}

h2 {
    text-align: center;
    background-color: lightcoral;
    padding: 10px;
    margin: 0;
    border: 1rem;
    border-color: black;
    font-family: Helvetica;
}

img {
    height: 20%;
    width: 20%;
    align-items: center;
    
}
ul, li {
    text-align: center;
    background-color: lightpink;
    padding: 10px;
    margin: 0;
    font-family: Times;
}

p {
    text-align: center;
    background-color: lightpink;
    padding: 10px;
    margin: 0;
    font-family: Times;
}

nav {
    text-align: center;
}

table {
    margin: auto;
    border-spacing: 1px
}

table, th, td {
    border: 1px solid black
}

th, td {
    padding: 1rem;
}

td {
    background-color: cornflowerblue;
    color: black;
}

#table-footer {
    color: black;
}